.header {
  background: red;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  position: relative;
  height: 100vh;
}

.letterButton {
  position: absolute;
  font-size: 24px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
}

.animated {
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes moveButtonA {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(50px, 50px);
  }
  100% {
    transform: translate(0, 0);
  }
}

@keyframes moveButtonB {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(-50px, -50px);
  }
  100% {
    transform: translate(0, 0);
  }
}

/* Ajoutez d'autres animations individuelles pour chaque lettre si nécessaire */

button {
  background: none;
}
